#wm-tooltip {
    display: none;
    width: 200px;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    transition: all 0.3s ease;
}

#tooltip-header{
    font-weight: bold;
    margin-bottom: 5px;
}